html,body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	background-attachment: fixed;
	font-family: sans-serif;
	font-weight: 100;
}

.tableau {
	position: relative;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 2%;
}

table {
	width: 1000px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	background-color: #55608f;
}

tbody tr :hover {
			background-color: rgba(255,255,255,0.3);
}
tbody td {
		position: relative;
}

tbody td :hover :before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
}

.dates {
    font-size: 20px;
    text-align: center;
    width : 100%;
    background-color: #55608f;
    border-bottom: 1px solid #fff;
}
.tableau {
    text-align : center;
}
.heure {
    width : 10%;
}
.anim {
    width: 50%
}
.enclos{
    width:20%
}
.soigneur {
    width:20%;
}