.carousel-cell{
    width: 30vw;
    height: 31vh;
    margin-right: 20px;
}

body{
    background: linear-gradient(45deg, #A49694, #4B4237);
	background-attachment: fixed;
}

.carousel{
    margin-bottom: 10vh;
}

.carousel-img{
    width: 30vw;
    height: 27vh;
}

.textcell{
    text-align: center;
    bottom: 0vh;
    position: relative;
    font-family: TypeEnclos;
    font-size: 2.5vh;
    margin-top : 0.5vh;
}

#type{
    margin-top : 1vh;
    margin-bottom : 1vh;
    margin-left : 1vw;
    font-size : 3vh;
    font-family: TypeEnclos;
}

@font-face {
    font-family: "TypeEnclos";
    src: url("../font/TypeEnclos.ttf");
}

@font-face {
    font-family: "policecell";
    src: url("../font/cell.ttf");
}