html{
    overflow: hidden;
}

#animations {
  text-align: left;
  padding-left: 15px;
  position: absolute;
  line-height: 10px;
  top: 13.5em;
}
.separation {
    border-left: 2px solid black;
    height: 100vh;
    position: absolute;
    left: 50vw;
    margin-left: -3px;
    top: 0;
  }

.sepanimation{
    border-left: 2px solid black;
    height: 80em;
    position: absolute;
    left: 27vw;
    margin-left: -3px;
    top: 8.5em;
}

  #titre_soigneur{
      font-size: 4vh;
  }

  #titre_animations{
    margin-top: -50px;
    position: absolute;
    padding-left: 15px;
    text-align: left;
  }

  .gauche{
      position: absolute;
      height: 85.5vh;
      width: 50vw;
  }

  .droite{
    position: absolute;
    height: 85.5vh;
    width: 50vw;
    right: 0;
    text-align: right;
}

  .soigneurs{
      text-align: center;
      font-size: large;
  }

  .soigneurs a{
    text-decoration: none;
    color: black;
  }

  .droite{
    padding-right: 20px;
  }

  .droite > * {
      margin-bottom: 2px;
  }

  #nomcomp{
      padding-top: 10px;
  }